%header
  .logo
  %nav.nav#nav
    %ul
      %li
        = link_to 'О студии', '#about'
      //%li.hidden-mobile ~
      %li
        = link_to 'Работы', '#works'
      //%li.hidden-mobile ~
      %li
        = link_to 'Инфо', '#contact'
    %ul.nav-right
      %li= link_to '8(567)8656786', 'tel:85678656786'
      //%li.hidden-mobile ~
      %li= link_to 'lovep@mail.ru', 'mailto:lovep@mail.ru'



